.zoomImageWrap {
	display: flex;
	justify-content: center;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100vw;
	height: 55vh;
}

.ZoomImageBlock {
	width: 90%;
	height: 70%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	&:hover {
		cursor: zoom-out;
	}
}

.zoomImage,
.zoomImageFilter {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

.zoomImage,
.zoomImageFilter {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.zoomImageFilter {
	background: #b8860b;
	z-index: 2;
	opacity: 0.2;
}

.zoomImageButton {
	width: 1.8rem;
	height: 1.8rem;
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
	z-index: 3;
	&:hover {
		cursor: pointer;
	}
}

.zoomImageButtonIcon {
	width: 100%;
	height: 100%;
	fill: rgb(245, 6, 6);
}
