.zoomImageWrap {
	display: flex;
	z-index: 10;
	position: fixed;
	top: 0;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.ZoomImageBlock {
	width: 100%;
	max-width: 960px;
	position: relative;
}

.zoomImage {
	width: 100%;
	border-radius: 1rem;
}

.zoomImageButton {
	width: 1.8rem;
	height: 1.8rem;
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
	&:hover {
		cursor: pointer;
	}
}

.zoomImageButtonIcon {
	width: 100%;
	height: 100%;
	fill: rgb(245, 6, 6);
}
