.cookie-popup-wrap {
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -100rem;
	left: 0;
	margin: auto;
    height: 16.7rem;
	width: 19rem;
	background: #ffffff;
	border-radius: 0.75rem;
	padding: 0.9375rem 1.5625rem;
	transition: right 1s ease;
	box-shadow: -1rem 0rem 2.375rem 1.125rem rgba(0, 0, 0, 0.31) inset;
	z-index: 9999999999;
}

.cookie-popup-wrap.show {
	opacity: 1;
	right: 0;
	left: 0;
	bottom: 10%;
	margin: auto;
}

.cookie-popup-wrap header {
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
}

header i {
	color: #4070f4;
	font-size: 2rem;
}

header h2 {
	display: flex;
	color: #4070f4;
	font-weight: 500;
	align-items: center;
	margin: 0;
}

.cookie-popup-wrap .data {
	margin-top: 1rem;
}

.cookie-popup-wrap .data p {
	color: #333333;
	font-size: 1rem;
}

.coockiesIcon {
	fill: #dd850b;
    width: 2rem;
    height: 2rem;
}

.coockiesTitleText {
	font-weight: 900;
}

/* .data p a {
	color: #4070f4;
	text-decoration: none;
}

.data p a:hover {
	text-decoration: underline;
} */

.cookie-popup-wrap .buttons-cookie {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttons-cookie .button-cookie-popup {
	border: none;
	color: #ffffff;
	padding: 0.5rem 0;
	border-radius: 0.25rem;
	background: #4070f4;
	cursor: pointer;
	width: 7.5rem;
	transition: all 0.4s ease;
}

.buttons-cookie #acceptBtn:hover {
	background-color: #034bf1;
}

#declineBtn {
	border: 0.125rem solid #4070f4;
	background-color: #ffffff;
	color: #4070f4;
}

#declineBtn:hover {
	background-color: #4070f4;
	color: #ffffff;
}
