.cookiePopupWrap {
	width: 19rem;
	height: 14rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	bottom: 3.5rem;
	right: 0.5rem;
	background: #484545;
	border-radius: 0.75rem;
	padding: 1rem;
	z-index: 9999999999;
}

.show {
	display: flex;
}

.hidden {
	display: none;
}

.cookiePopupTitleWrap {
	display: flex;
	align-items: center;
	margin-bottom: 0.7rem;
}

.cookiePopupTitleIcon {
	width: 2rem;
	height: 2rem;
	margin-right: 0.3rem;
}

.cookiePopupTitleText {
	display: flex;
	align-items: center;
	color: #9a9aff;
	font-weight: 800;
}

.cookiePopupText {
	color: #ffffff;
	font-size: 0.9rem;
	margin-bottom: 0.7rem;
}

.cookiePopupBtnWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cookiePopupBtnAccept,
.cookiePopupBtnDecline {
	border: 1px solid #ffffff;
	border-radius: 0.25rem;
	width: 7.8rem;
	background: #4070f4;
	color: #ffffff;
	padding: 0.5rem 0rem;
	transition: all 0.3s;
}

.cookiePopupBtnAccept {
	&:hover {
		background: #034bf1;
	}
}

.cookiePopupBtnDecline {
	&:hover {
		background: #e74646;
	}
}
