.hamburgerIconWrap,
.hamburgerButton {
	width: 1.5rem;
	height: 1.5rem;
}

.hamburgerIconWrap {
	position: absolute;
	right: 1.1rem;
	top: 0.5rem;
}

.hamburgerButton {
	display: flex;
}

.GrTextAlignRight,
.HiOutlineChevronDown {
	width: 1.5rem;
	height: 1.5rem;
}
