.hamburgerIconWrap,
.hamburgerButton {
	width: 2rem;
	height: 2rem;
}

.hamburgerIconWrap {
	position: absolute;
	right: 1.1rem;
	top: 1rem;
}

.hamburgerButton {
	display: flex;
}

.GrTextAlignRight,
.HiOutlineChevronDown {
	width: 2rem;
	height: 2rem;
}
