.section-nav-wrap {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.section-nav {
	padding: 1.5rem 1.1rem;
	box-sizing: content-box;
	min-height: 6.3rem;
	background: #181818;
	position: relative;
	z-index: 9999999999;
	border-radius: 0rem 0rem 0.75rem 0.75rem;
	transition: all 4s ease 0s;
}

.section-nav__block-logo {
	width: 6rem;
	height: 6rem;
	transition: all 0.6s;
	position: absolute;
	top: 0.4375rem;
	left: 0.9375rem;
}

.section-nav__logo-item {
	width: 6rem;
	height: 6rem;
	padding: 0.7rem;
}

.section-nav__logo-slogan {
	color: rgb(184, 134, 11);;
	font-size: 0.9rem;
	font-weight: 500;
	text-align: center;
}

.section-nav__menu-list {
	display: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

.section-nav__menu-link-wrap {
	margin-right: 2rem;
	transition: all 0.6s;
}

.section-nav__menu-link {
	color: #ffffff;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 0.9375rem;
	line-height: 1.25rem;
}

.section-nav__menu-link-wrap-icon {
	margin-right: 2rem;
	height: 3.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.6s;
}

.section-nav__menu-link-wrap-icon:last-child {
	margin-right: 0;
}

.section-nav__menu-link-icon {
	width: 100%;
	height: 1.5rem;
}

.section-nav__menu-link:last-child {
	margin: 0;
}

.section-nav__menu-link:hover,
.section-nav__logo-slogan:hover {
	color: #f5deb3;
	transform: scale(1.05);
	transition: all 0.6s;
}

.section-nav__checkboxBtn {
	margin-right: 2rem;
	display: flex;
	flex-direction: column;
	height: 3.8rem;
	justify-content: space-between;
}

.CustomLinkBlock {
	margin-right: 2rem;
}

.CustomLinkWrapper {
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
}

.section-nav__menu-link-wrap-icon-phone {
	animation: pulse-icons 1.2s linear infinite;
}

.section-nav__menu-link-wrap-icon-whatsapp {
	animation: pulse-icons 1.8s linear infinite;
}

.section-nav__menu-link-wrap-icon-telegram {
	animation: pulse-icons 1.6s linear infinite;
}

.section-nav__menu-link-wrap-icon-behance {
	animation: pulse-icons 1.4s linear infinite;
}


//Animation keyframes
@keyframes pulse-icons {
	0% {
		scale: 1;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	10% {
		scale: 1.02;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	20% {
		scale: 1.04;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	30% {
		scale: 1.06;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	40% {
		scale: 1.08;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	50% {
		scale: 1.1;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	60% {
		scale: 1.08;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	70% {
		scale: 1.06;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	80% {
		scale: 1.04;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	90% {
		scale: 1.02;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}

	100% {
		scale: 1;
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}
}
////