.cardServicesWrapper {
	padding: 0rem 0rem 1.5rem 0rem;
	display: flex;
	justify-content: center;
	margin-bottom: 2.5rem;
}

.card {
	position: relative;
	min-height: 25rem;
	width: 100%;
	margin: 0.625rem auto;
	transition: ease all 1.5s;
	perspective: 75rem;
	background: inherit;
	backface-visibility: visible;
	border: none;
	user-select: none;
	max-width: 18rem;
}

.card-text-f {
	font-size: 0.9rem !important;
}

.price {
	padding-top: 2rem;
}
.card:hover .cover {
	transform: rotateX(0deg) rotateY(-180deg);
}
.card:hover .cover:before {
	transform: translateZ(1.875rem);
}
.card:hover .cover:after {
	background-color: black;
}
.card:hover .cover h1 {
	transform: translateZ(6.25rem);
}
.card:hover .cover .price {
	transform: translateZ(3.75rem);
}

.card:hover .cover .card-icon {
	transform: translateZ(3.75rem);
}

.card:hover .cover a {
	transform: translateZ(-3.75rem) rotatey(-180deg);
}
.card .cover {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: ease all 1.5s;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border: 0.0625rem solid #b8860b;
	border-radius: 0.5rem;
}
.card .cover:before {
	content: '';
	position: absolute;
	border: 0.3125rem solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.3);
	top: 1.25rem;
	left: 1.25rem;
	right: 1.25rem;
	bottom: 1.25rem;
	z-index: 2;
	transition: ease all 1.5s;
	transform-style: preserve-3d;
	transform: translateZ(0rem);
	filter: invert(1);
}
.card .cover:after {
	content: '';
	position: absolute;
	top: 0rem;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	z-index: 2;
	transition: ease all 1.3s;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
}

.card .cover.item-a {
	background-image: url('../../../public/images/images-card.webp');
	background-position: left;
	background-size: revert;
}

.card .cover.item-b {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: right;
	background-size: revert;
}

.card .cover.item-c {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: left;
	background-size: revert;
}

.card .cover.item-d {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: right;
	background-size: revert;
}

.card .cover.item-e {
	background-image: url('../../../public/images/images-card.webp');
	background-position: left;
	background-size: revert;
}

.card .cover.item-f {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: right;
	background-size: revert;
}

.card .cover.item-g {
	background-image: url('../../../public/images/images-card.webp');
	background-position: left;
	background-size: revert;
}

.card .cover.item-h {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: right;
	background-size: revert;
}

.card .cover.item-i {
	background-image: url('../../../public/images/images-card.webp');
	background-position: left;
	background-size: revert;
}

.card .cover.item-j {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: right;
	background-size: revert;
}

.card .cover.item-k {
	background-image: url('../../../public/images/images-card.webp');
	background-position: left;
	background-size: revert;
}

.card .cover.item-l {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: right;
	background-size: revert;
}

.card .cover.item-m {
	background-image: url('../../../public/images/images-card.webp');
	background-position: left;
	background-size: revert;
}

.card .cover.item-n {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: right;
	background-size: revert;
}

.card .cover.item-o {
	background-image: url('../../../public/images/images-card.webp');
	background-position: left;
	background-size: revert;
}

.card .cover.item-p {
	background-image: url('../../../public/images/images-card2.webp');
	background-position: right;
	background-size: revert;
}

.card .cover h1 {
	min-height: 4.6875rem;
	font-weight: 100;
	position: absolute;
	bottom: 15%;
	left: 10%;
	width: 80%;
	color: white;
	transform-style: preserve-3d;
	transition: ease all 1.5s;
	z-index: 3;
	font-size: 1.3rem;
	transform: translateZ(0rem);
	text-align: center;
}
.card .cover .price {
	font-weight: 600;
	position: absolute;
	top: 15%;
	right: 15%;
	transform-style: preserve-3d;
	transition: ease all 1.5s;
	z-index: 4;
	font-size: 1.7rem;
	color: #b8860b;
}

.card .cover .card-icon {
	position: absolute;
	bottom: 39%;
	left: 35%;
	width: 30%;
	height: 33%;
	z-index: 4;
	transform-style: preserve-3d;
	transition: ease all 1.5s;
}

.card .card-back {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url('../../../public/images/images-card2.webp');
	background-position: center;
	background-size: cover;
	transform-style: preserve-3d;
	transition: ease all 1.5s;
	transform: translateZ(-0.0625rem);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 0.0625rem solid #b8860b;
	border-radius: 0.5rem;
}

.card .card-back p {
	transform-style: preserve-3d;
	transition: ease transform 1.5s, ease background 0.5s;
	transform: translateZ(-0.0625rem) rotatey(-180deg);
	font-weight: 200;
	font-size: 1rem;
	line-height: 1.2rem;
	background-color: #ffffff;
	color: #0b0f08;
	padding: 1rem 1rem;
	outline: none;
	text-decoration: none;
	border-radius: 1.6875rem;
}

.card .card-back .big-text {
	transform-style: preserve-3d;
	transition: ease transform 1.5s, ease background 0.5s;
	transform: translateZ(-0.0625rem) rotatey(-180deg);
	font-weight: 200;
	font-size: 1rem;
	line-height: 1rem;
	background-color: #ffffff;
	color: #0b0f08;
	padding: 1rem 1rem;
	outline: none;
	text-decoration: none;
	border-radius: 1.6875rem;
}

.moreInfo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 9.3%;
	left: 4%;
}

.iconMoreInfo {
	color: #ffffff;
}

.textMoreInfo {
	width: 9.5ch;
	color: #b8860b;
	font-family: monospace;
	font-size: 1.2rem;
	font-style: italic;
	white-space: nowrap; /* не переносить текст на другую строку */
	overflow: hidden; /* скрываем переполнение контентом */
	border-right: 3px solid #b8860b; /* рисуем курсор */
	animation: cursor 0.75s step-end infinite, printed_text 3s steps(29);
}

//Animation Intersection-observer
.cardWrapper {
	opacity: 0;
	transform: translateY(6.25rem);
}

.cardWrapper.show {
	opacity: 1;
	transition: all 2.2s;
	transform: translateY(0%);
}
////

//Animation keyframes
@keyframes cursor {
	0% {
		border-color: #b8860b;
	}

	50% {
		border-color: transparent;
	}

	100% {
		border-color: #b8860b;
	}
}

@keyframes printed_text {
	from {
		width: 0;
	}
}
////

.interactiveIconUp {
	position: absolute;
	z-index: 999999999;
	top: -22.2rem;
	left: -13.4%;
	width: 50%;
}

.interactiveIconDown {
	position: absolute;
	z-index: 999999999;
	top: -1.9rem;
	left: 12%;
	width: 26%;
}

.title {
	transition: all 2s;
	opacity: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-weight: 700;
	line-height: 1.9rem;
	margin-bottom: 2.8125rem;
	padding: 2.5rem 0.7rem 0rem 0.7rem;
}

//Animation keyframes Finger Icon
@keyframes interactiveMotion0 {
	from {
		d: path('M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0');
	}
	to {
		d: path('M60,61.83a20,20 0 1,0 40,0a20,20 0 1,0 -40,0');
		opacity: 0;
	}
}

@keyframes interactiveMotion1 {
	from {
		d: path('M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0');
	}
	to {
		d: path('M55,61.83a25,25 0 1,0 50,0a25,25 0 1,0 -50,0');
		opacity: 0;
	}
}

@keyframes interactiveMotion2 {
	from {
		d: path('M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0');
	}
	to {
		d: path('M50,61.83a30,30 0 1,0 60,0a30,30 0 1,0 -60,0');
		opacity: 0;
	}
}

@keyframes interactiveMotion3 {
	from {
		d: path('M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0');
	}
	to {
		d: path('M45,61.83a35,35 0 1,0 70,0a35,35 0 1,0 -70,0');
		opacity: 0;
	}
}

@keyframes interactiveMotion4 {
	from {
		d: path('M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0');
	}
	to {
		d: path('M40,61.83a40,40 0 1,0 80,0a40,40 0 1,0 -80,0');
		opacity: 0;
	}
}
////

.ellipse0 {
	animation: interactiveMotion0 3s ease-out infinite;
}

.ellipse1 {
	animation: interactiveMotion1 3s ease-out infinite;
}
.ellipse2 {
	animation: interactiveMotion2 3s ease-out infinite;
}
.ellipse3 {
	animation: interactiveMotion3 3s ease-out infinite;
}
.ellipse4 {
	animation: interactiveMotion4 3s ease-out infinite;
}
