.contactsLineBlock {
	width: 98% !important;
	max-width: 31.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0rem 0.75rem;
	margin: 0 auto;
}

.contactsLineWrap {
	display: flex;
	align-items: center;
}

.contactsLine {
	padding: 0.7rem 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	border-top: 2px solid #b8860b;
	border-right: 2px solid #b8860b;
	border-left: 2px solid #b8860b;
}

.contactsLineIcon {
	width: 1.6rem;
	height: 1.6rem;
	fill: #ffffff;
	margin-right: 0.6rem;
}

.contactsLineFirst {
	border-radius: 0.75rem 0.75rem 0rem 0rem;
	padding: 0.7rem 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	border-top: 2px solid #b8860b;
	border-right: 2px solid #b8860b;
	border-left: 2px solid #b8860b;
}

.contactsLineLast {
	border-radius: 0rem 0rem 0.75rem 0.75rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	border: 2px solid #b8860b;
	padding: 0.7rem 1rem;
	width: 100%;
	display: flex;
	align-items: center;
}

.contactsLineText {
	color: #ffffff;
	&:hover {
		color: #b8860b;
	}
}

.title {
	transition: all 2s;
	opacity: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-weight: 700;
	line-height: 1.9rem;
	margin-bottom: 2.8125rem;
	padding: 2.5rem 0.7rem 0rem 0.7rem;
}

//Circle animation wrapper
.circleAnimationWrapper {
	display: flex;
	justify-content: center;
	position: relative;
}

//Logo YBS
.contactsLogoIcon {
	width: 8rem;
	transition: all 1s;
	position: absolute;
	top: 2rem;
	&:hover {
		scale: 1.08;
	}
}

//Circle Animation
:root {
	--rotationDuration: 20s;
	--hoverDuration: 0.3s;
	--easeIn: cubic-bezier(0.32, 0, 0.67, 0);
	--easeOut: cubic-bezier(0.33, 1, 0.68, 1);
}

.link__svg {
	width: 100%;
	height: auto;
	transform-box: fill-box;
	fill: #b8860b;
	width: 12rem;
	height: 12rem;
	display: inline-block;
	font: 500 0.98rem/1.4 'IBM Plex Serif';
	text-transform: uppercase;
	letter-spacing: 0.3em;
	word-spacing: 0.3em;
	transition: all 1s;
	margin-bottom: 2rem;
	&:hover {
		fill: #ffffff;
	}
}

.link__arrow {
	transform-origin: 50% 50%;
	transition: transform var(--hoverDuration) / 2 var(--easeIn);
}

.link:hover .link__arrow {
	transform: scale(1.1);
	transition: transform var(--hoverDuration) var(--easeOut);
}

.link__arrow {
	stroke-width: 0.075em;
}

.link__text {
	animation: rotate normal infinite var(--rotationDuration) linear;
	transform-origin: 50% 50%;
}
.link:hover .link__text {
	animation-play-state: paused;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
//
