.buttonChangeLangWrap {
    display: flex;
    position: absolute;
    top: 29.8rem;
    right: 9.26rem;
}

.buttonChangeLang {
    background-color: rgb(66, 64, 64);
    width: 2.6rem;    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0.2rem;
    border-radius: 5rem;
    border: 1px solid #000000;
}