/* Устройства Small (устройства с горизонтальной ориентацией от 576px) */
@media (min-width: 576px) {
	.title {
		font-size: 1.7rem !important;
	}

	.mainScreenSloganFirst,
	.mainScreenSloganThird {
		top: 3.8rem !important;
	}

	.mainScreenSloganFourth {
		top: 5rem !important;
	}

	.wrapper-card-block {
		max-width: 18rem !important;
	}

	.card .cover.item-b {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-c {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-d {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-f {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-g {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-h {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-j {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-k {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-l {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-n {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-o {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-p {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.footerInfoTextSecond {
		font-size: 0.7rem !important;
		top: 2.2rem !important;
	}

	.footerLinkIcon {
		width: 100%;
		height: 1.45rem !important;
	}

	.footerLogoWrapLink {
		left: 1rem !important;
	}

	.footerInfoTextFirst {
		left: 0.5rem !important;
		font-size: 0.7rem !important;
	}

	.menuListFooter {
		right: 1rem !important;
	}
}

/* Устройства Medium (планшеты, 768 пикселей и выше) */
@media (min-width: 768px) {
	.title {
		font-size: 1.5rem !important;
	}

	.mainTitleText {
		width: 19ch !important;
		font-size: 2.5rem !important;
	}

	.footerInfoTextFirst,
	.footerInfoTextSecond {
		font-size: 0.65rem !important;
	}

	.footerInfoTextSecond {
		font-size: 0.8rem !important;
		top: 2rem !important;
	}

	.mainScreenSloganFirst {
		top: 5.5rem !important;
	}

	.mainScreenSloganSecond {
		top: 6.75rem !important;
	}

	.mainScreenSloganThird {
		top: 5.5rem !important;
	}

	.mainScreenSloganFourth {
		top: 6.75rem !important;
	}

	.buttonChangeLangWrap {
		top: 31.8rem !important;
	}

	.menuToggle {
		top: 4.5rem !important;
		right: 3.6rem !important;
	}

	.slide-menu {
		padding: 13rem 2rem 3.125rem 3.6rem !important;
	}

	.sloganAuthorText {
		font-size: 1.4rem !important;
	}

	.video-block-bottom {
		height: 20rem !important;
	}

	.card .cover.item-b {
		background-position: center !important;
	}

	.card .cover.item-c {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-d {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-e {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: center !important;
	}

	.card .cover.item-f {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-g {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-h {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: center !important;
	}

	.card .cover.item-i {
		background-position: right !important;
	}

	.card .cover.item-j {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-k {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: center !important;
	}

	.card .cover.item-l {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-n {
		background-position: center !important;
	}

	.card .cover.item-o {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-p {
		background-position: center !important;
	}
}

/* Устройства Large (настольные компьютеры, 992 пикселей и выше) */
@media (min-width: 992px) {
	.GrTextAlignRight {
		display: none;
	}

	.title {
		font-size: 1.65rem !important;
	}

	.mainTitleText {
		width: 18.5ch !important;
		font-size: 2.9rem !important;
		pointer-events: visible !important;
	}

	.buttonChangeLangWrap {
		flex-direction: column !important;
    	margin: 0rem !important;
		padding: 0rem !important;
	}

	.headerListLinkWrap {
		display: flex !important;
	}

	.mainScreenSloganFirst {
		top: 5.7rem !important;
	}

	.mainScreenSloganSecond {
		top: 8.5rem !important;
	}

	.mainScreenSloganThird {
		top: 5.7rem !important;
	}

	.mainScreenSloganFourth {
		top: 7rem !important;
	}

	.menuToggle,
	.slide-menu-wrap {
		display: none !important;
	}

	.buttonChangeLangWrap {
		top: 1rem !important;
		right: 1rem !important;
	}

	.slideBtnLanguage,
	.slideBtnColorTheme {
		margin: 0 !important;
	}

	.video-block-bottom {
		height: 23rem !important;
	}

	.sloganText {
		font-size: 1.39rem !important;
		white-space: nowrap !important; /* не переносить текст на другую строку */
	}
}

/* Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше) */
@media (min-width: 1200px) {
	.video-block-bottom {
		height: 25rem !important;
	}

	.mainTitleText {
		width: 18.4ch !important;
	}

	.card .cover.item-a {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-b {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-c {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-d {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-e {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-f {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-g {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-h {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-i {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-k {
		background-position: right !important;
	}

	.card .cover.item-l {
		background-position: left !important;
	}

	.card .cover.item-m {
		background-position: right !important;
	}

	.card .cover.item-n {
		background-position: left !important;
	}

	.card .cover.item-p {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: left !important;
	}
}

/* Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше) */
@media (min-width: 1400px) {
	.mainTitleText {
		width: 18.5ch !important;
	}
}
