@media (min-width: 576px) {
	.title {
		font-size: 1.7rem !important;
	}

	.mainScreenSloganFirst,
	.mainScreenSloganThird {
		top: 3.8rem !important;
	}

	.mainScreenSloganFourth {
		top: 5rem !important;
	}

	.wrapper-card-block {
		width: 20rem !important;
	}

	.card .cover.item-b {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-c {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-d {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-f {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-g {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-h {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-j {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-k {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-l {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-n {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-o {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-p {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.footerInfoTextSecond {
		top: 1.4rem !important;
		left: -8rem !important;
	}

	.footerLinkIcon {
		width: 100% !important;
		height: 1.45rem !important;
	}

	.footerLogoWrapLink {
		left: 1rem !important;
	}

	.footerInfoTextFirst {
		font-size: 0.6rem !important;
	}

	.footerInfoTextSecond {
		left: -14rem !important;
	}

	.footerIconWrap {
		top: 1rem !important;
	}

	.menuListFooter {
		right: 1rem !important;
	}

	.cardGallery {
		width: 17.5rem !important;
	}
}

@media (min-width: 768px) {
	.title {
		font-size: 1.5rem !important;
	}

	.mainTitleText {
		width: 19ch !important;
		font-size: 2.5rem !important;
	}

	.mobileMenu {
		width: 16rem !important;
		padding-bottom: 2.3rem !important;
	}

	.footerInfoTextFirst,
	.footerInfoTextSecond {
		font-size: 0.8rem !important;
	}

	.footerInfoTextSecond {
		left: 0 !important;
	}

	.footerLogoWrap {
		left: 2.4rem !important;
	}

	.mainScreenSloganFirst {
		top: 5.5rem !important;
	}

	.mainScreenSloganSecond {
		top: 6.75rem !important;
	}

	.mainScreenSloganThird {
		top: 5.5rem !important;
	}

	.mainScreenSloganFourth {
		top: 6.75rem !important;
	}

	.buttonChangeLangWrap {
		top: 31.8rem !important;
	}

	.sloganAuthorText {
		font-size: 1.4rem !important;
	}

	.card .cover.item-b {
		background-position: center !important;
	}

	.card .cover.item-c {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-d {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-e {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: center !important;
	}

	.card .cover.item-f {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-g {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-h {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: center !important;
	}

	.card .cover.item-i {
		background-position: right !important;
	}

	.card .cover.item-j {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-k {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: center !important;
	}

	.card .cover.item-l {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-n {
		background-position: center !important;
	}

	.card .cover.item-o {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-p {
		background-position: center !important;
	}

	.cardGallery {
		width: 20.5rem !important;
	}
}

@media (min-width: 992px) {
	.cookiePopupWrap {
		bottom: 4.6rem !important;
	}

	.hamburgerIconWrap {
		display: none !important;
	}

	.title {
		font-size: 1.65rem !important;
	}

	.homePageVideoBlock {
		height: 40rem !important;
	}

	.mainTitleText {
		width: 18.5ch !important;
		font-size: 2.9rem !important;
		pointer-events: visible !important;
	}

	.buttonChangeLangWrap {
		flex-direction: column !important;
		margin: 0rem !important;
		padding: 0rem !important;
	}

	.headerNav {
		height: 4rem !important;
	}

	.headerCompanyNameText {
		top: 1.6rem !important;
		left: 4.5rem !important;
	}

	.headerLogoWrap {
		top: 0.5rem !important;
	}

	.headerLogoIcon {
		width: 3rem !important;
		height: 3rem !important;
	}

	.buttonChangeLang {
		margin-right: 0 !important;
		margin-bottom: 0.2rem !important;
	}

	.buttonChangeLang:last-child {
		margin-bottom: 0rem !important;
	}

	.headerListLinkWrap {
		display: flex !important;
	}

	.mainScreenSloganFirst {
		top: 5.7rem !important;
	}

	.mainScreenSloganSecond {
		top: 8.5rem !important;
	}

	.mainScreenSloganThird {
		top: 5.7rem !important;
	}

	.mainScreenSloganFourth {
		top: 7rem !important;
	}

	.buttonChangeLangWrap {
		top: 1rem !important;
		right: 1rem !important;
	}

	.slideBtnLanguage,
	.slideBtnColorTheme {
		margin: 0 !important;
	}

	.sloganText {
		font-size: 1.39rem !important;
		white-space: nowrap !important;
	}

	.cardGallery {
		width: 26.5rem !important;
	}

	.galleryBackgroundFilter {
		max-width: 60rem !important;
	}

	.footerNav {
		height: 4rem !important;
	}

	.footerLogoWrap {
		width: 2.5rem !important;
		height: 2.5rem !important;
		left: 2rem !important;
	}

	.footerLogoIcon {
		width: 2.5rem !important;
		height: 2.5rem !important;
	}

	.footerIconLink {
		height: 1.7rem !important;
	}

	.footerIconWrap {
		top: 1.5rem !important;
	}

	.footerInfoTextFirst {
		top: 3.2rem !important;
	}

	.footerInfoTextSecond {
		top: 2rem !important;
	}
}

@media (min-width: 1200px) {
	.mainTitleText {
		width: 18.4ch !important;
	}

	.card .cover.item-a {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-b {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-c {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-d {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-e {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-f {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-g {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-h {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: left !important;
	}

	.card .cover.item-i {
		background-image: url('../../public/images/images-card2.webp') !important;
		background-position: right !important;
	}

	.card .cover.item-k {
		background-position: right !important;
	}

	.card .cover.item-l {
		background-position: left !important;
	}

	.card .cover.item-m {
		background-position: right !important;
	}

	.card .cover.item-n {
		background-position: left !important;
	}

	.card .cover.item-p {
		background-image: url('../../public/images/images-card.webp') !important;
		background-position: left !important;
	}

	.cardGallery {
		width: 22.5rem !important;
	}

	.galleryBackgroundFilter {
		max-width: 71.25rem !important;
	}

	.contactsLineBlock {
		max-width: 67.5rem !important;
	}
}

@media (min-width: 1400px) {
	.mainTitleText {
		width: 18.1ch !important;
	}
	.cardGallery {
		width: 26.5rem !important;
	}

	.galleryBackgroundFilter {
		max-width: 82.5rem !important;
	}
}
